@media only screen and (max-width: 700px) {
    #sidenav{
        position: inherit;
        margin-left: auto;
        margin-right: auto;
    }



    main{
        margin-left: auto;
        margin-right: auto;
    }

    footer{
        text-align: center;
    }

    .socials {
        display: flex;
        justify-content: start;
        margin-bottom: 2rem;
        margin-top: 30%;
    }



}