@media only screen and (max-width: 800px) {
    main{
        margin-left: 0;
    }
    
    #sidenav{
        position: inherit;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0;
        width: 100%;
    }

    #sidenav p{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

   

    .socials {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1{
        font-size: 45px;
    }
    


    footer{
        text-align: center;
        margin-left: 0;

    }

    .video1 {
        object-fit: cover;
    }


    .container-vid {
        position: inherit;
        margin-left: auto;
        margin-right: auto;
    }

    #skillButtons button{
        margin-left: auto;
        margin-right: auto;

    }

    #skillButtons {
        display: flex;
        flex-wrap: wrap; 
        gap: 5px; 
        align-self: center;
    }

  


}

@media only screen and (max-width: 500px) {
    .project {
        border: 0;
        padding: 2rem 2rem;
        max-width: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 1.5rem;
        border-radius: 14px;
    }

    
    .project{
        display: block;
    }

    .project img{
        display: none;
    }

    .project p{
        margin-top: 5px;
        max-width: 100%;
    }
    
    .project .btn{
        padding-bottom: 1rem;
    }
    .project a{
        font-size: 17px;
    }

    #gennemgang{
        padding-top: 0;
    }

    #gennemgang p{
        text-align: center;
        width: 80%;
    }

    #gennemgang #optimering{
        text-align: start;
        width: 80%;
    }
}