@font-face {
    font-family: "Oswald-bold";
    src: url(font/Oswald/static/Oswald-Bold.ttf);
  }
@font-face {
    font-family: "Oswald-light";
    src: url(font/Oswald/static/Oswald-ExtraLight.ttf);
  }

  @font-face {
    font-family: "Oswald-medium";
    src: url(font/Oswald/static/Oswald-Light.ttf);
  }

@font-face {
    font-family: "Quicksand";
    src: url(font/Quicksand/Quicksand-VariableFont_wght.ttf);
  }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body{
    --primary: #021645;
    --secondary: #FEFFFF;
    --tertiary: #00E5FF;
    --blue: #2F5597;
    --black: #00091A;
    --grey: #abb8e2;

    height: 100vh;
    background-color: var(--primary);
    color: var(--secondary);
    width: 100vw;
    margin-left: auto;
    margin-right: auto;

}

main {
    margin-left: 0;
}

main.show-main {
    margin-left: 500px;
}

h1{
    margin-top: 4rem;
    font-family: "Oswald-bold";
    font-size: 56px;
    padding-bottom: 1rem;
}

h2{
    font-family: "Oswald-light";
    font-size: 25px;
    margin-bottom: 1.7rem;
}

h3{
    font-family: "Oswald-bold";
    font-size: 35px;
}

h4{
    font-family: "Oswald-bold";
    font-size: 24px;
}

p{
    font-family: "Quicksand";
    font-size: 17px;
    font-weight: 400;
    color: var(--grey) ;
}

#sidenav {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--primary);
    overflow-x: hidden;
    padding-left: 4rem ;
  }
  
  #sidenav p {
    padding-bottom: 4rem;
    max-width: 70%;
  }

  #sidenav h2 {
    margin-bottom: 0.3rem;
  }

  #sidenav .tekst {
    text-decoration: none;
    font-family: "Oswald-medium";
    font-size: 20px;
    color: var(--secondary);
    display: block;
  }

  .socials {
    display: flex;
    margin-bottom: 2rem;
    margin-top: 30%;

}

.fa-brands {
    width: 3rem;
    font-size: 25px;
    
}
  
  
  #sidenav a:hover {
    color: var(--tertiary);
  }

.screen1{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.cirkel{
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    position: absolute;
    border-radius: 50%;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1.5s ease; 
    transition-timing-function: ease-in-out;
    transition-duration: 3s;
}

.screen2{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.striber{
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

#about{
    padding-top: 7rem;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 8rem;
}

#about a{
    font-family: "Quicksand";
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary) ;
}

#about a:hover{
    color: var(--tertiary) ;
}

.video1 {
    padding: 2rem 3rem 5rem 3rem;
    object-fit: cover;
}

.container-vid {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-vid h4 {
    text-align: center;
    padding-bottom: 1.5rem;
}

.container-vid p {
    text-align: center;
}

/*------- projekt og filterbuttons-------*/

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 7rem;
    padding-top: 2rem;
}


#skillButtons button{
    appearance: none; 
    background: none; 
    border: none; 
    background-color: #12315F;
    padding: 3px 13px;
    margin-right: 2px;
    border-radius: 14px;
    font-size: 18px;
    color: #00E5FF;
    font-family: "Oswald-medium"; 
    margin-top: 10px;
    cursor: pointer;
    border: 1px solid #12315F;
}

#skillButtons button:hover{
    color: #00E5FF;
    border: 1px solid #00E5FF;
}

#skillButtons button:focus{
    color: #12315F;
    background-color: #00E5FF;
}

#skillButtons {
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    align-self: center;
}



/* -----------Projekter styles -----------*/

.project {
    border: 0.5px solid var(--primary);
    padding: 2rem 2rem;
    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1.5rem;
    border-radius: 14px;
}

.project:hover{
    background-color: #081d4e;
    border: 0.5px solid #0C2151;
    
}
.project h4{
    grid-column: 1/2;
    grid-row: 1/2;
}

.project a{
    font-family: "Quicksand";
    font-size: 17px;
    background-color: #122B65;
    padding: 0.8rem 1.5rem;
    border-radius: 20px;
    color: var(--secondary);
}

.project .btn{
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

.project a:hover{
    border: 1px solid var(--secondary);
}


.project img{
    object-fit: cover;
    max-width: 3rem;
    border-radius: 6px;
}

.project p{
    max-width: 14rem;
    grid-column: 1/2;
    grid-row: 1/2;
    margin-top: 3rem;
}

.project .skills{
    grid-column: 1/2 ;
    grid-row: 2/3;
}

.project .skills span {
    display: inline-block;
    background-color: #12315F;
    padding: 3px 13px;
    margin-right: 2px;
    border-radius: 14px;
    font-size: 14px;
    color: #00E5FF;
    font-family: "Oswald-medium"; 
    margin-top: 10px;
}


/*--------Visuel gennemgang-----------*/
#gennemgang{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}


#gennemgang #kyllinger{
    object-fit: cover;
    width: 85%;
    padding-bottom: 5rem;
    padding-top: 2.5rem;
}

#gennemgang #ikoner{
    object-fit: cover;
    width: 85%;
    padding-bottom: 7rem;
    padding-left: 4%;
}

#gennemgang #morten{
    object-fit: cover;
    width: 60%;
    padding-bottom: 7rem;
    padding-left: 4%;
}

#gennemgang #javascript{
    object-fit: cover;
    width: 90%;
    padding-bottom: 7rem;
    padding-left: 4%;
}

#gennemgang h3{
    padding-bottom: 1rem;
}

#gennemgang h4{
    padding-bottom: 2rem;
}

#gennemgang #optimering {
    padding: 3rem;
    background-color: #122B65;
    width: 80%;
    border-radius: 14px;
    margin-bottom: 7rem;
    box-shadow: 0px 4px 10px #000c1e34;
    margin-left: 4%;
}



/*-----------Animationer-----------*/




.cirkel {
    transition: transform 1.5s ease; 
}

.zoom {
    transform: scale(50); /* Juster skalaen som ønsket */
}
  
  /* Fade væk og flyt opad */
  .fade-up {
    opacity: 0; /* Gør skærmen gennemsigtig */
    transform: translateY(-100px); /* Flyt den opad */
    transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Animationens varighed og timing */
  }

  .fade-up-slow {
    opacity: 0;
    transform: translateY(-300px);
    transition: opacity 1s ease, transform 2s ease; /* Langsommere fade-up */
}




.hide
  {
      display: none;
  }